<?xml version="1.0" encoding="UTF-8" ?>

<suite name = "中招">
    <test name = "中招测试套件">
        <classes>
            <class name="com.weixt.cases.LoginTest">
                <methods>
                    <include name="loginTrue"></include>
                </methods>
            </class>
            <class name="com.weixt.cases.VersionListTest">
                <methods>
                    <include name="versionList"></include>
                </methods>
            </class>
        </classes>

    </test>

   <listeners>
    <!--  <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"></listener>-->

     <listener class-name="com.weixt.config.ExtentTestNGIReporterListener"/>
 </listeners>

</suite>